:root{
    --section-padding:3.5rem;
    --main-color:#0078ff;
}

*{
    text-decoration: none;
    list-style: none;
}

/* start Header */ 
.dropdown:hover>.dropdown-menu,
    .dropend:hover>.dropdown-menu {
        display: block;
    }
   @media (min-width:768px){
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus
 {  
    outline: none !important;
    box-shadow: none !important;
    border: none;
}

@media (max-width:991px){
    .collapse .navbar-nav{
        background-color:#fff;
        padding: 15px;
        border-radius: 10px;
    }
    .navbar-nav li a{
        color: #000;
    }
    .navbar-nav li a:hover {
             color: var(--main-color);
     }
     .navbar-nav li .active{
        color: var(--main-color) !important;
     }
                 
}
@media (min-width:992px){
nav .navbar-nav li .nav-link
{
    color: white !important;
    font-weight: bold;
    position: relative;
}
.color-not-change{
    margin-top: 5px;
}
.color-not-change li a:hover{
    color: var(--main-color);
}
nav .navbar-nav li .nav-link::before{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    left: 9px;
    bottom: -3px;
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav .navbar-nav li .nav-link:hover::before{
   width: 75%;
}
body:not(body:has(:target)) nav .navbar-nav .nav-item .active::before,
body:has(#home:target) nav .navbar-nav .nav-item a[href="#home"]::before, 
body:has(#about:target) nav .navbar-nav .nav-item a[href="#about"]::before,
body:has(#services:target) nav .navbar-nav .nav-item a[href="#services"]::before,
body:has(#work:target) nav .navbar-nav .nav-item a[href="#work"]::before,
body:has(#blog:target) nav .navbar-nav .nav-item a[href="#blog"]::before,
body:has(#contact:target) nav .navbar-nav .nav-item a[href="#contact"]::before {
    width: 75%;
}

}

.dropdown-toggle::after{
    content: '\f078' !important;
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900 !important;
     border-top: none !important;
    border-right: none !important;
    border-bottom: none !important ;
    border-left: none !important;
    margin-left: 0 !important;
    vertical-align: 0 !important;
}
.drop-right::after{
    content: '\f054' !important;
    font-family: "Font Awesome 6 Free" !important;
        font-weight: 900 !important;
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-left: none !important;
        margin-left: 0 !important;
        vertical-align: 0 !important;
}
/* end Header */

/* start home */

.home{
    background: linear-gradient(rgba(0 0 0 /0.6) , rgba(0 0 0 /0.6)) , url(../img/hero-bg.jpg) center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100dvh;
}
.home .container{
   text-align: center;
}
.home .content h1{
 font-weight: 600;
 font-size: 3rem;
}
@media (min-width:768px){
    .home .content h1{
        font-size: 4.5rem;
    }
}

.home .content p{
    color: #fff;
}
.home .content p::after{
    content: '|';
    animation: typing 4s linear infinite ;
}
@keyframes typing{
    0%{content: "De|";}
    5.26% {content: "Des|";}
    10.52%{content: "Desig|";}
    15.78% { content: "Designer|";}
    21.04%{content: "Design|";}
        26.3% {
            content: "Desi|";
        }
    31.56%{content: "Des|";
    }
        36.82% {
            content: "Dev|";
        }
    42.08% {content: "Devel|";}
    47.43% {content: "Develop|";}
        52.6% {
            content: "Developer|";
        }
    57.86% {content: "Develp|";
    }
        63.12% {
            content: "Deve|";
        }
        68.38%{
            content: "Dev|";
        }
        73.64%{
            content: "D|";
        }
        78.9%{
            content: "Blo|";
        }
        84.16%{
            content: "Blog|";
        }
        89.42%{
            content: "Blogg|";
        }
        94.68%{
            content: "Blogger|";
        }
        96%{
            content: "Blog|";
        }
        98%{
            content: "Blo|";
        }
        99%{
            content: "B|";
        }
        
                }
                
    


/* end home */

/* start about */
.about{
    padding-block: var(--section-padding);
    background-color: #f5f5f5;
}
.about .content{
    padding-bottom: 2rem;
}

.about .content .details p span:not(:last-child){
    color: #000;
    font-weight: 500;
}
.about .skils h4{
    padding-bottom: 1.5rem;
}
.about .skils p{
    margin-bottom: 10px;
}
.about .skils .progress{
    border-radius: 0 !important;
}
.about .left-side h3{
    position: relative;
}
.about .left-side h3::after{
    position: absolute;
    content: '';
    width: 22%;
    height: 3px;
    background-color: var(--main-color);
    bottom: -10px;
    left: 0;

}

/* end about */

/* start services */
.services{
    padding-block: var(--section-padding);
        background-color: #f5f5f5;
}
 .title{
    text-align: center;
    margin-bottom: 1.75rem;
}
.title p{
    position: relative;
}
 .title p::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 4.5px;
    background-color: var(--main-color);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.services .content p{
    color: #4e4e4e;
}
.services .card .service-icon{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

.services .card .service-icon span{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid var(--main-color);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.services .card:hover span{
background-color: var(--main-color);
color: #fff;
border-color: #cde1f8;
}
/* end services */
/* start count */
.counter{
    padding-block: 8rem;
    background: linear-gradient(rgba(0 120 255/0.7),rgba(0 120 255/0.7)) ,url("../img/shuffle-04.jpg");
    background-size: cover;
}
.counter .icon{
    display: flex;
        margin-bottom: 1rem;
        justify-content: center;
}
.counter .icon span{
    width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #cde1f8;
            
}
/* end count */
/* start portfolio */
.protfolio{
    padding-block: var(--section-padding);
    background-color: #f5f5f5;
}
.protfolio .card-box img{
    transition: all 1s;
}
.protfolio .card-box:hover img{
  transform: scale(1.3);
}
.protfolio .col-icon .icon-span{
    width: 15px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    padding: 10px;
}
@media(max-width:767px){


.protfolio .non-small a{
    display: none;
}
}
/* end portfolio */
/* start slider */
.slider{
    padding-block: 8rem;
    background:linear-gradient(rgba(0 120 255/0.7), rgba(0 120 255/0.7)), url("../img/overlay-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider .img-slider{
    border-radius: 50%;
   
}
.slider .content p{
    padding-inline: 5rem;
}
/* end slider */
/* start blog */
.blog{
    padding-block: var(--section-padding);
    background-color: #f5f5f5;
}
.blog .body-head{
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    overflow: hidden;
}
.blog .body-head .badge-body-head{
    background-color: var(--main-color);
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
}
.blog .body-head .badge-body-head h3{
    font-size: 0.6rem !important;
}
.blog .card-body h3{
    font-size: 1.5rem;
    transition: all 0.7s;
    padding-top: 1rem;
}
.blog .card-body h3:hover{
    color: var(--main-color);
}
.blog .card-body p{
    color: #4e4e4e;
}
.blog .card-footer{
    padding: 0.5rem 1rem;
    background-color: rgba(33 37 41 /0.03);
    border-top: 1px solid rgba(0 0 0 /0.175);
}
.blog .card-footer .description img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.blog .card-footer .description span{
    transition: all 0.7s;
}
.blog .card-footer .description span:hover{
    color: var(--main-color);
}
/* end blog */
/* start contact */
.contact{
    padding-block: 8rem;
        background: linear-gradient(rgba(0 120 255/0.7), rgba(0 120 255/0.7)), url("../img/overlay-bg.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
}

.contact .form-input :is(input,textarea){
        padding: 0.2rem 0.6rem;
            width: 100%;
}
.contact button{
    background-color: var(--main-color);
    border: none;
    padding: 5px 15px;
}
.contact .icons-text span:not(:last-child){
    color: var(--main-color);
    padding-right: 5px;
}
.contact .contact-icon{
    display: flex;
}
.contact .contact-icon span{
   
    width: 40px;
        height: 40px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 4px solid var(--main-color);
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contact .contact-icon span:hover{
    background-color: var(--main-color);
    color: #fff;
    border-color: #cde1f8;
}

/* end contact */
/* start footer */
footer{
    padding-block: var(--section-padding);
    background-color: var(--main-color);
}
/* end footer */